.emptyCart {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10vmax;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: tomato;
}
.emptyCart > p {
  font-size: 2vmax;
}.emptyCart > p>span {
  font-size: 2vmax;
  color: tomato;
}
.emptyCart > a {
  background-color: rgb(51, 51, 51);
  color: white;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  padding: 1vmax 3vmax;
  border: none;
  border-radius: 1vmax;
  transition: all 0.5s;
}
.emptyCart > a:hover {
  background-color: rgba(51, 51, 51, 0.6);
}
.cartPage {
  padding: 5vmax;
}
.cartHeader {
  background-color: tomato;
  width: 90%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 0.7vmax "Roboto";
  color: white;
  margin: auto;
}
.cartHeader > p {
  margin: 10px;
}
.cartHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin: auto;
  align-items: center;
}
.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
}
.cartInput > button {
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5vmax;
  transition: all 0.5s;
  font: 400 1vmax "Roboto";
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}
.cartInput > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  font: 400 0.8vmax "Roboto";
  outline: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
}
.cartSubtotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
  height: 8vmax;
  font: 300 1vmax cursive;
  box-sizing: border-box;
  padding: 0.5vmax;
}
.grossTotal {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}
.grossTotal > .box {
  border-top: 3px solid tomato;
  display: flex;
  justify-content: space-between;
  padding: 2vmax;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  font: 300 01vmax "Roboto";
}
.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}
.checkOutBtn > button {
  border: none;
  font: 400 1vmax "Roboto";
  color: white;
  background-color: tomato;
  margin: 1vmax 4vmax;
  padding: 1vmax 4vmax;
  text-decoration: none;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}

.checkOutBtn > button:hover {
  transform: scale(1.05);
  color: tomato;
  border: 1px solid tomato;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }
  .cartHeader {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartInput {
    height: 20vmax;
  }
  .cartInput > button {
    padding: 1.5vmax;
  }
  .cartInput > input {
    width: 2vmax;
    padding: 1.5vmax;
    font: 400 1.8vmax "Roboto";
  }
  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Roboto";
  }
  .grossTotal {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .grossTotal > .box {
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }
  .checkOutBtn {
    display: flex;
    justify-content: center;
  }
  .checkOutBtn > button {
    font: 400 1.8vmax "Roboto";
  }
}

@media screen and (max-width: 400px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }
  .cartHeader {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartInput {
    height: 20vmax;
  }
  .cartInput > button {
    padding: 1vmax;
  }
  .cartInput > input {
    width: 2vmax;
    padding: 0.5vmax;
    font: 400 1vmax "Roboto";
  }
  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 1.5vmax "Roboto";
  }
  .grossTotal {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .grossTotal > .box {
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }
  .checkOutBtn {
    display: flex;
    justify-content: center;
  }
  .checkOutBtn > button {
    font: 400 1.8vmax "Roboto";
  }
}
