.resetPasswordContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(231, 231, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.resetPasswordBox {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

.resetPasswordBox > h2 {
  font: 400 1.3vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1.3vmax;
  text-align: center;
  width: 50%;
  margin: auto;
}
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  height: 70%;
  justify-content: space-evenly;
}

.resetPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.resetPasswordForm > div > input {
  padding: 1vmax 4vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  font: 400 1vmax cursive;
}
.resetPasswordForm > div > svg {
  position: relative;
  left: 3vmax;
}

.resetPasswordBtn {
  background-color: tomato;
  width: 100%;
  padding: 0.8vmax;
  color: white;
  border-radius: 6px;
  font: 300 0.9vmax "Roboto";
  transition: all 0.5s;
}
.resetPasswordBtn:hover {
  background-color: rgb(179, 66, 46);
}
@media screen and (max-width: 1250px) {
  .resetPasswordBox {
    width: 60vw;
    height: 75vh;
  }
  .resetPasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .resetPasswordForm > div > svg {
    font-size: 2.8vmax;
  }
  .resetPasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}

@media screen and (max-width: 550px) {
  .resetPasswordContainer {
    background-color: white;
  }
  .resetPasswordBox {
    width: 100vw;
    height: 95vh;
  }
  .resetPasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .resetPasswordForm > div > svg {
    font-size: 2.8vmax;
  }
  .resetPasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
